<h1 mat-dialog-title>Add JITR Position</h1>
<mat-form-field class="add-lcats">
    <mat-label>LCAT</mat-label>
    <select matNativeControl [(ngModel)]="lcat" name="lcat" (ngModelChange)="onLcatChange($event)">
        <option *ngFor="let lcat of lcats"
        [ngValue]="lcat"> {{ lcat }}
        </option>
    </select>
</mat-form-field> &nbsp; &nbsp;
<mat-form-field class="add-lcat-levels">
    <mat-label>LCAT Level</mat-label>
    <select matNativeControl [(ngModel)]="lcatLevel" name="lcatLevel">
        <option *ngFor="let lcatLevel of lcatLevels"
        [ngValue]="lcatLevel"> {{ lcatLevel }}
        </option>
    </select>
</mat-form-field>
<br>
<mat-dialog-actions class="actions">
    <button mat-button type="button" class="cancel-button" (click)="onCancel()">Cancel</button>
    <button mat-button class="submit-button" (click)="onSubmitPosition()">Add</button>
</mat-dialog-actions>