<h3> Labor Categories (LCAT) </h3>
<br>
<div>
    <ag-grid-angular
    #agGrid
    style="width: 200px; height: 275px"
    class="ag-theme-alpine"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    rowSelection="multiple"
    (gridReady)="onGridReady($event)"
    >
    </ag-grid-angular>
</div>
<br>
<div class="form">
    <form class="add-lcat-form" (ngSubmit)="onSubmitLcat()">
        <mat-form-field class="mat-form">
            <mat-label>Enter New LCAT</mat-label>
            <input matInput type="text" id="lcatDescription"
                [(ngModel)]="lcat.lcatDescription" name="lcatDescription">
        </mat-form-field>
        <button class="btn">Add</button>
    </form>
</div>