<h3 class="add-jitr-page-title">Add JITR</h3>
<br>
<div class="form">
  <form #addJitrForm="ngForm" class="add-jitr-form" (ngSubmit)="onSubmit()">
    <mat-form-field class="mat-form">
      <mat-label>JITR Number</mat-label>
      <input matNativeControl required matInput type="text" id="jitrNumber"
      [(ngModel)]="jitr.jitrNumber" name="jitrNumber">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>JITR Date</mat-label>
      <input matNativeControl required matInput type="date" id="jitrDate"
      [(ngModel)]="jitr.jitrDate" name="jitrDate">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Number of FTE</mat-label>
      <input matNativeControl required matInput type="text" id="numberOfFTE"
      [(ngModel)]="jitr.numberOfFTE" name="numberOfFTE">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>JITR Status</mat-label>
      <select matNativeControl required [(ngModel)]="jitr.jitrStatus" name="jitrStatus">
        <option *ngFor="let jitrStatus of jitrStatuses" 
            [ngValue]="jitrStatus"
            [disabled]="jitrStatus.disabled"> {{ jitrStatus.statusDescription }}
        </option>
      </select>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>JITR Rating</mat-label>
      <select matNativeControl required [(ngModel)]="jitr.jitrRating" name="jitrRating">
        <option *ngFor="let jitrRating of jitrRatings" 
            [ngValue]="jitrRating"
            [disabled]="jitrRating.disabled"> {{ jitrRating.ratingDescription }}
        </option>
      </select>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Praxis Estimated Cost</mat-label> <mat-icon matTooltip="Leave blank if cost is unknown">help_outline</mat-icon>
      <input matInput type="text" id="praxisEstimatedCost"
      [(ngModel)]="jitr.praxisEstimatedCost" name="praxisEstimatedCost">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Winning Prime Estimated Cost</mat-label> <mat-icon matTooltip="Leave blank if cost is unknown or JITR Status is 'Awarded'">help_outline</mat-icon>
      <input matInput type="text" id="winningPrimeEstimatedCost"
      [(ngModel)]="jitr.winningPrimeEstimatedCost" name="winningPrimeEstimatedCost">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>JITR Organization</mat-label>
      <select matNativeControl required [(ngModel)]="jitr.jitrOrganization" name="jitrOrganization">
        <option *ngFor="let jitrOrganization of jitrOrganizations" 
            [ngValue]="jitrOrganization"
            [disabled]="jitrOrganization.disabled"> {{ jitrOrganization.jitrOrganizationName }}
        </option>
      </select>
    </mat-form-field>
    <br>
    <br>
    <button mat-button type="button" class="cancel-button" (click)="onCancel(addJitrForm)">Cancel</button>
    <button mat-button class="submit-button">Submit</button>
  </form>
</div>