.not-found-page {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  
  .header {
    text-align: center;
  }

  .btn {
    align-self: center;
    border: none;
    color: white;
    background-color: darkgrey;
    padding: 6px 12px;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
  }

  .btn:hover {
      background: gray;
  }

  .status {
    color: rgb(206, 33, 43);
  }
  
  .return-home-button:hover {
    background: gray;
    cursor: pointer;
  }