.btn {
    margin-left: 10px;
    border: none;
    color: white;
    background-color: darkgrey;
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
}

.btn:hover {
    background: gray;
}

.navbar.navbar-expand-lg.navbar-light.bg-light {
    width: 575px;
}

.add-icon {
    float: left;
    cursor: pointer;
}

.edit-icon {
    padding-left: 7px;
}

.edit-label {
    padding-left: 7px;
    font-weight: bold;
}

.delete-label {
    padding-left: -10px;
    font-weight: bold;
}

.add-label {
    padding-left: 2px;
    font-weight: bold;
}

.hidden-icons {
    display: flex;
    flex-direction: row;
}