<h3> JITR Positions </h3>
<br>
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav">
            <mat-icon (click)="openAddJITRPositionDialog()" class="mat-icon" matTooltip="Add JITR Position">add_circle</mat-icon>   
        </ul>
    </nav>
</div>
<div>
    <ag-grid-angular
    #agGrid
    domLayout="autoHeight"
    style="width: 575px"
    class="ag-theme-alpine"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    rowSelection="multiple"
    [animateRows]="true"
    (gridReady)="onGridReady($event)"
    (filterChanged)="onFilterChanged($event)"
    >
    </ag-grid-angular>
</div>
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav">
          <label><b>Position Count:</b> &nbsp;</label> <b>{{ positionCount }}</b>
          &nbsp;
          &nbsp;
          <label><b>Position Percent:</b> &nbsp;</label> <b>{{ positionPercent }}%</b>
        </ul>
    </nav>
</div>