<h3> JITR Positions </h3>
<br>
<div>
    <input type="text" placeholder="Search..." (keyup)="quickSearch()" [(ngModel)]="searchValue">
    <button (click)="clearFilters()" class="btn"> Reset Filters </button>
</div>
<br>
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav">
            <mat-icon (click)="openAddJITRPositionDialog()" class="add-icon" matTooltip="Add JITR Position">add_circle</mat-icon>
            <div class="hidden-icons" *ngIf="isSelected">
                <mat-icon (click)="openUpdatePositionDialog()" class="edit-icon" matTooltip="Edit JITR Position">edit</mat-icon>
                <mat-icon (click)="deletePosition()" class="delete-icon" matTooltip="Delete JITR Position">delete</mat-icon>
            </div>
        </ul>
    </nav>
</div>
<div>
    <ag-grid-angular
    #agGrid
    domLayout="autoHeight"
    style="width: 575px"
    class="ag-theme-alpine"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    rowSelection="rowSelection"
    [suppressRowClickSelection]="true"
    (rowSelected)="onRowSelected($event)"
    (selectionChanged)="onSelectionChanged($event)"
    [animateRows]="true"
    (gridReady)="onGridReady($event)"
    (filterChanged)="onFilterChanged($event)"
    >
    </ag-grid-angular>
</div>
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav">
          <label><b>Position Count:</b> &nbsp;</label> <b>{{ positionCount }}</b>
          &nbsp;
          &nbsp;
          <label><b>Position Percent:</b> &nbsp;</label> <b>{{ positionPercent }}%</b>
        </ul>
    </nav>
</div>